body {
  background-color: #25282a;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider {
  height: 400px;
  margin: 3vw 0;
  overflow-y: hidden;
}
.slide {
  background-image: url('../cssMemSlider/images/temp.jpeg');
  width: 300px;
  height: 400px;
  background-size: cover;
}
.text {
}
.slide-text {
    display: none;
}
.controls {
}
.controls-and-text{}
.slide-control {
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.5s;
}
.slide-control:hover > input {
  border: 0.15rem solid white;
  background-color: white;
  box-shadow: inset 1rem 1rem white;
}
.slide-control:hover > input:checked {
  border: 0.15rem solid white;
  box-shadow: inset 1rem 1rem #25282a;
}
input {
  appearance: none;
  cursor: pointer;
  font: inherit;
  color: #86b5fa;
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid #86b5fa;
  background-color: #86b5fa;
  border-radius: 50%;
  box-shadow: inset 1rem 1rem #86b5fa;
  transition: 0.5s;
}
input:checked {
  box-shadow: inset 1rem 1rem #25282a;
  transition: 0.5s;
}

#slide1-button:checked ~ .test>#slide1-text{display: inline}
#slide2-button:checked ~ #slide2-text{display: inline}
#slide3-button:checked ~ #slide3-text{display: inline}
#slide4-button:checked ~ #slide4-text{display: inline}
#slide4-button:checked ~ label[for="slide4-button"]:active
label[for="slide4-button"]:active ~ #slide4-text{display: inline}
